.user-profile {
  --hw: 2.3em;
  position: relative;
  user-select: none;
  background-color: transparent;
  transition: var(--ts-secondary);
  display: flex;
  align-items: center;
  justify-content: center;

  .profile-action-button {
    height: var(--hw);
    width: var(--hw);
    padding: 0;
    border: var(--border);
    border-radius: var(--hw);
    overflow: hidden;

    img {
      height: var(--hw);
      width: var(--hw);
      object-fit: cover;
      object-position: center;
    }
  }

  .card-container {
    --height: 225px;
    --width: 225px;

    position: absolute;
    opacity: 0;
    top: calc(100% + 6px);
    right: 0px;
    bottom: auto;
    left: auto;
    height: fit-content;
    max-width: fit-content;
    background-color: transparent;
    transition: var(--ts-secondary);

    .card-header {
      height: fit-content;
      width: var(--width);
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      background-color: transparent;
      row-gap: 9.5px;

      .dashboard-link {
        width: 100%;
        height: fit-content;
        padding: 8px;
        display: grid;
        grid-template-columns: auto 1fr;
        column-gap: 8px;
        background-color: var(--bg-secondary);
        border-radius: 999rem;
        border: var(--border);

        .user-profile-image {
          --hw: 48px;
          height: var(--hw);
          width: var(--hw);
          display: flex;
          align-items: center;
          justify-content: center;
          border-radius: var(--hw);
          background-color: var(--btn-primary-bg);
          overflow: hidden;

          img {
            height: var(--hw);
            width: var(--hw);
            object-fit: cover;
            object-position: center;
          }
        }

        .user-profile-info {
          display: flex;
          flex-direction: column;
          align-items: flex-start;
          justify-content: center;
          overflow: hidden;

          .email {
            margin: 0;
            color: var(--text-muted);
            overflow: hidden;
            text-overflow: ellipsis;
            width: 100%;
          }

          .view-settings {
            margin: 0;
            font-size: 12px;
            text-transform: capitalize;
            color: var(--link-primary);
            overflow: hidden;
            text-overflow: ellipsis;
            width: 100%;
          }
        }
      }

      .links {
        background-color: var(--bg-secondary);
        width: 100%;
        max-height: 75dvh;
        overflow-y: auto;
        padding: 8px;
        border-radius: 18px;
        border: var(--border);
      }

      button,
      a {
        height: 38px;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: flex-start;
        background-color: transparent;
        border: none;
        padding-inline: 8px;
      }
    }
  }

  .no-user-image {
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 600;
    font-size: 18px;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    color: var(--status-success);
  }
}
