.container {
  aspect-ratio: 1/1;
  display: flex;
  justify-content: center;
  align-items: center;
  background: none;
}

.loader {
  aspect-ratio: 1/1;
  height: inherit;
  display: flex;
  align-items: center;
  justify-content: center;
  animation: bowinsing-spin 1.2s linear infinite;

  * {
    width: 100%;
    height: 100%;
    object-fit: contain;
    object-position: center;
  }
}

@keyframes bowinsing-spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
