/* Global CSS Custom Properties (Variables) */
:root {
  /* Global padding*/
  --padding: 16px;

  /* Layout Properties */
  --opacity: 1;
  --shadow: 0 0 1.5px var(--bg-secondary);
  --border: 1px solid var(--border-primary);

  /* Transition variables */
  --ts-duration: 0.4s;
  --ts-timing-function: ease-in-out;

  /* Utils transition variables */
  --ts-primary: background-color var(--ts-duration) var(--ts-timing-function),
    color var(--ts-duration) var(--ts-timing-function);

  --ts-secondary: background-color var(--ts-duration) var(--ts-timing-function),
    color var(--ts-duration) var(--ts-timing-function),
    border var(--ts-duration) var(--ts-timing-function),
    box-shadow var(--ts-duration) var(--ts-timing-function),
    opacity var(--ts-duration) var(--ts-timing-function),
    transform var(--ts-duration) var(--ts-timing-function);
}

.temp {
  /* Responsive Breakpoint Definitions */
  --breakpoint-xs: 480px; /* Mobile */
  --breakpoint-sm: 768px; /* Tablet */
  --breakpoint-md: 1024px; /* Landscape Tablet */
  --breakpoint-lg: 1280px; /* Laptop/Desktop */
  --breakpoint-xl: 1600px; /* 4K Displays */
}
