.button {
  display: flex;
  align-items: center;
  justify-content: center;
  aspect-ratio: 1/1;
  height: 2.3em;
  padding: 2px;
  border: var(--border);
  border-radius: 999rem;
  background-color: var(--btn-secondary);
  transition: var(--ts-secondary);
}
